.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-tables-size{
  width: 100%;
  float: left;
  height: 80vh;
  overflow: auto;
}

.div-table{
  width: 100%;
  float: left;
  border: 1px solid black;
  margin-top: 20px;
}

.div-table-id {
  width: 5%;
  float: left;
  text-align: center;
}

.div-table-data {
  width: 94%;
  float: left;
  text-align: left;
}

.div-table-link {
  width: 1%;
  float: left;
}

.div-table-rodape {
  width: 100%;
  float: left;
  border: 1px solid black
}